<p>Cadastrar Produto</p>

<div id="categoria">
    <label for="categoria">Categorias</label>
    <select [(ngModel)]="categoriaId">
        <option *ngFor="let categoria of categorias" 
          value="{{categoria.id}}">
            {{ categoria.tipo }}
        </option>
    </select>
</div>
<div id="nome"> 
    <label for="txtnome">Nome</label>
    <input type="text" id="txtnome" [(ngModel)]="nome"/>
</div>
<div id="preco"> 
    <label for="txtpreco">Preço</label>
    <input type="number" id="txtpreco" [(ngModel)]="preco"/>
</div>
<div id="descricao"> 
    <label for="txtdescricao">Descrição</label>
    <input type="text" id="txtdescricao" [(ngModel)]="descricao"/>
</div>
<div id="botao">
    <button id="btnCadastrar" (click)="cadastrar()">Cadastrar</button>
  </div>
