<h2>Cadastrar Cliente</h2>

<div id="nome">
    <label for="txtnome">Nome</label>
    <input type="text" id="txtNome" [(ngModel)]="nome"/>
</div>
<div id="cpf">
    <label for="txtEmail">Email</label>
    <input type="text" id="txtEmail" [(ngModel)]="email">
</div>
<div id="endereco">
    <label for="txtEndereco">Endereço</label>
    <input type="text" id="txtEndereco" [(ngModel)]="endereco">
</div>
<div id="btn">
    <button *ngIf="!clienteId" id="btnCadastrar" (click)="cadastrar()">Cadastrar</button>
    <button *ngIf="clienteId" id="btnAlterar" (click)="alterar()">Alterar</button>
</div>



