
<table>
    <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Categoria</th>
        <th>Descricao</th>
        <th>Deletar</th>
        <th>Alterar</th>
    </tr>
    <tr *ngFor="let produto of produtos">
        <td>{{ produto.nome }}</td>
        <td>{{ produto.preco | currency: "BRL": "R$ " }}</td>
        <td>{{ produto.categoria?.tipo }}</td>
        <td>{{ produto.descricao }}</td>
        <td>
            <button mat-raised-button color="warn" (click)="deletar(produto.id!)">Deletar</button>
        </td>
        <td>
            <button mat-raised-button color="accent" routerLink="/pages/produto/cadastrar/{{produto.id}}">Alterar</button>
        </td>
    </tr>
</table>