<!-- header -->
<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Ecommerce</span>
</mat-toolbar>

<!-- navegacao -->
<mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side">
        <!-- links -->
        <mat-nav-list>
            <a mat-list-item routerLink="/pages/cliente/cadastrar"><mat-icon class="icon">person_add</mat-icon>Cadastrar Cliente</a>
            <a mat-list-item routerLink="/pages/cliente/listar"><mat-icon class="icon">list</mat-icon>Listar Clientes</a>
            <a mat-list-item routerLink="/pages/categoria/cadastrar"><mat-icon class="icon">add</mat-icon>Cadastrar Categoria</a>
            <a mat-list-item routerLink="/pages/categoria/listar"><mat-icon class="icon">list</mat-icon>Listar Categoria</a>
            <a mat-list-item routerLink="/pages/produto/cadastrar"><mat-icon class="icon">add</mat-icon> Cadastrar Produto</a>
            <a mat-list-item routerLink="/pages/produto/listar"><mat-icon class="icon">list</mat-icon>Listar Produto</a>
            <a mat-list-item routerLink="/pages/carrinho/cadastrar"><mat-icon class="icon">add_circle</mat-icon>Adicionar Produto ao Carrinho</a>
            <a mat-list-item routerLink="/pages/carrinho/listar"><mat-icon class="icon">shopping_cart</mat-icon>Carrinho</a>
        </mat-nav-list>
    
    </mat-sidenav>
    <mat-sidenav-content class="content" >
        <!-- conteudo/componentes lado DIREITO -->
<router-outlet> </router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>






